*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    overflow: hidden;
}

.upperPart{
    height: 85vh;
    position: relative;
    background-image: url("assets/Environment/bgTop.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.header{
    height: 15%;
}

.player{
    position: absolute;
    bottom:-10px;
    left:100px;
}

.enemy{
    position: absolute;
    bottom:-10px;
    right:100px;
}

.lowerPart{
    height: 15vh;
    background-image: url("assets/Environment/bgFoot.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}
.playerHP,.score,.timer,.enemyHP{
    height:40px;
    width: 150px;
    
}

.playerHP,.enemyHP{
    color:rgb(245, 30, 30);
    font-size: 40px;
    text-align: center;
    background-color: rgba(127, 142, 255, 0.121);
    border-radius: 50px;
}
.playerHP p,.enemyHP p{
    font-size:small;
    color:aliceblue
}
.score,.timer{
    color: aliceblue;
    padding-top: 0.7rem;
    text-align: center;
    background-color: rgba(127, 142, 255, 0.121);
    border-radius: 50px;
}